<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EmpDeptSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>

  <error-page>
    <error-code>403</error-code>
    <location>/403</location>
  </error-page>

  <filter>
    <filter-name>AvoidJspDirectAccess</filter-name>
    <filter-class>filters.AvoidJspDirectAccess</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AvoidJspDirectAccess</filter-name>
    <url-pattern>/views/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>Authentication</filter-name>
    <filter-class>filters.Authentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Authentication</filter-name>
    <url-pattern>/employee</url-pattern>
    <url-pattern>/profile</url-pattern>
    <url-pattern>/employee/view</url-pattern>
    <url-pattern>/employee/edit</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AccessControl</filter-name>
    <filter-class>filters.AccessControl</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessControl</filter-name>
    <url-pattern>/employee</url-pattern>
    <url-pattern>/employee/view</url-pattern>
    <url-pattern>/employee/edit</url-pattern>
  </filter-mapping>
</web-app>